
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-home-Gvz {
  width: 100%;
  height: 144.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.menu-home-Gvz .menu-home-phc {
  box-sizing: border-box;
  padding-bottom: 59.9rem;
  width: 100%;
  height: 198.2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #4c4141;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi {
  margin-bottom: 3.3545rem;
  width: 100%;
  height: 109.6455rem;
  position: relative;
  flex-shrink: 0;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .rectangle-9-F2E {
  width: 72rem;
  height: 102.4rem;
  position: absolute;
  left: 72rem;
  top: 0;
  background-color: #4c4141;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .sideview-removebg-preview-1-aaJ {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 16rem;
  top: 32.7rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .rectangle-8-VxA {
  width: 72rem;
  height: 104rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2b2222;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .profile-eaA {
  width: 7.7rem;
  height: 3rem;
  position: absolute;
  left: 122.2rem;
  top: 5.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .ellipse-3-x54 {
  width: 71.7rem;
  height: 52.4rem;
  position: absolute;
  left: 0;
  top: 51.6rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .moderncar-removebg-preview-1-Up6 {
  width: 77.5rem;
  height: 43.519rem;
  position: absolute;
  left: 0;
  top: 61.7rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .ellipse-4-1Z8 {
  width: 13.9rem;
  height: 13.1rem;
  position: absolute;
  left: 65rem;
  top: 44.6rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .ellipse-5-Yox {
  width: 11rem;
  height: 10.4rem;
  position: absolute;
  left: 66.5rem;
  top: 46rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .polygon-1-gfG {
  width: 3.9224rem;
  height: 3.9224rem;
  position: absolute;
  left: 70rem;
  top: 49.2rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .sewa-mobil-keinginan-anda-evira-RMx {
  width: 51.4rem;
  height: 12.2rem;
  position: absolute;
  left: 9.7rem;
  top: 18.8rem;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .sewa-mobil-keinginan-anda-evira-RMx .sewa-mobil-keinginan-anda-evira-RMx-sub-0 {
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .sewa-mobil-keinginan-anda-evira-RMx .sewa-mobil-keinginan-anda-evira-RMx-sub-1 {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #fc0000;
  font-family: Inter, 'Source Sans Pro';
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .kami-menyediakan-layaan-sewa-mobil-atau-rental-mobil-tentu-website-ini-terpecaya-dan-memiliki-banyak-promo-yang-menunggu-anda-sNN {
  width: 42.9rem;
  height: 11.7rem;
  position: absolute;
  left: 9.9rem;
  top: 34.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #75f0da;
  font-family: Inter, 'Source Sans Pro';
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .km-h-Xhp {
  width: 18.3rem;
  height: 4.9rem;
  position: absolute;
  left: 75.3rem;
  top: 84.1rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .ion-people-sharp-qyQ {
  width: 5.8rem;
  height: 6rem;
  position: absolute;
  left: 101.4rem;
  top: 83.3rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .item-4-y42 {
  width: 2.7rem;
  height: 4.9rem;
  position: absolute;
  left: 97.9rem;
  top: 84rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .item-4-5Mx {
  width: 2.7rem;
  height: 4.9rem;
  position: absolute;
  left: 131.2rem;
  top: 84rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .per-hari-Bft {
  width: 14.7rem;
  height: 4.9rem;
  position: absolute;
  left: 113rem;
  top: 83.7rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .vector-6nr {
  width: 4.2rem;
  height: 4.587rem;
  position: absolute;
  left: 134.7rem;
  top: 89.7127rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .rectangle-10-qVY {
  width: 24.1rem;
  height: 10.6rem;
  position: absolute;
  left: 109.8rem;
  top: 20.1rem;
  background-color: #2a2626;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .star-1-Ani {
  width: 3.1rem;
  height: 3.4rem;
  position: absolute;
  left: 112.6rem;
  top: 22.6rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .star-2-hne {
  width: 3.1rem;
  height: 3.4rem;
  position: absolute;
  left: 121.3rem;
  top: 22.6rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .star-4-SkE {
  width: 3.1rem;
  height: 3.4rem;
  position: absolute;
  left: 128.5rem;
  top: 22.6rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .star-5-nJJ {
  width: 3.2rem;
  height: 3.4rem;
  position: absolute;
  left: 124.8rem;
  top: 22.6rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .star-3-Wk6 {
  width: 3.1rem;
  height: 3.4rem;
  position: absolute;
  left: 116.9rem;
  top: 22.6rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .review-SNr {
  width: 8.5rem;
  height: 1.7rem;
  position: absolute;
  left: 113rem;
  top: 27.1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .bi-people-circle-jsk {
  width: 8.8rem;
  height: 8.8rem;
  position: absolute;
  left: 133rem;
  top: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .polygon-2-syx {
  width: 13.2289rem;
  height: 8.9455rem;
  position: absolute;
  left: 65.8rem;
  top: 100.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .ellipse-6-QU6 {
  width: 77.7rem;
  height: 70.3rem;
  position: absolute;
  left: 97.6rem;
  top: 21.7rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .rectangle-113-kH4 {
  width: 14.4rem;
  height: 4.4rem;
  position: absolute;
  left: 102rem;
  top: 4.8rem;
  background-color: #5d8671;
  border-radius: 2.3rem;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .home-ssU {
  width: 6.9rem;
  height: 3rem;
  position: absolute;
  left: 105.8rem;
  top: 5.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .booking-car-njY {
  width: 14.4rem;
  height: 3rem;
  position: absolute;
  left: 82.9rem;
  top: 5.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .group-38-uZG {
  width: 16.5rem;
  height: 4.4rem;
  position: absolute;
  left: 6.2rem;
  top: 3.6rem;
  display: flex;
  align-items: center;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .group-38-uZG .group-37-E5k {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 3.2rem;
  height: 2.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-home-Gvz .menu-home-phc .auto-group-xc2i-YNi .group-38-uZG .evira-LuU {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-home-Gvz .menu-home-phc .cari-mobil-keinginan-anda-5MG {
  margin: 0rem 53.1rem 4.8rem 0rem;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-home-Gvz .menu-home-phc .auto-group-43se-nmU {
  margin: 0rem 13.1rem 0rem 9.9rem;
  width: calc(100% - 23rem);
  height: 14.4rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2222;
  border-radius: 5rem;
  flex-shrink: 0;
}
